{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>

    <div>
        <h2>Liste des projets en cours</h2>
        {{ dump(projects) }}
    </div>

    <div>
        <h2>Liste des managers</h2>
        {{ dump(managers) }}
    </div>

    <div>
        <h2>Fiches</h2>
        {{ dump(fiches) }}
        <table>
            <thead>
                <th>Date</th>
                <th>Projet</th>
                <th>% avancement</th>
                <th>% consommé</th>
            </thead>
            <tbody>
                {% for fiche in fiches %}
                    <tr>
                        <td>{{ fiche.ficheDate|date("m/d/Y") }}</td>
                        {# <td>{{ projects[fiche.projet_id].name }}</td> #}
                        <td></td>
                        <td>{{ fiche.progression }}</td>
                        <td>{{ fiche.nbDayDone/fiche.nbDayDone * 100 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
